 /* Estilos para la sección Main*/
 main {
    padding: 20px;
    background-image: url(Imagenes/slogan.jpg);
  }



/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Estilos de la sección de introducción a las criptomonedas */
section {
    background-color: #f2f2f2;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .container h2 {
    text-align: center;
    border: 2px solid #333;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .container p {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .container h2 {
      font-size: 20px;
    }
  
    .container p {
      font-size: 14px;
    }
  }

  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
/*general footer*/
footer{
    background-color: #0e0d0d;
  }
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
  }
.socialIcons{
    display: flex;
    justify-content: center;
  }
 .socialIcons a{
    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    margin: 5px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: whitesmoke;
}

/*Hover efects social media*/
.socialIcons a:hover{
    background-color: brown;
    transition: 0.5s;
}

/*nav footer*/
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: whitesmoke;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}
.footerBottom p{
    color: whitesmoke;
    text-align: center;
}
.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}
@media (max-width: 700px){
  .footerNav ul{
    flex-direction: column;
  }
  .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  } 
}

.tradingview-widget-container {
  background-color: #1a1a1a;
}



  